<%= render 'shared/header' %>

<% @mood.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<%= form_with model: @mood, local: true do |f| %>
  <div class="image-options">
    <% images_with_scores = [
      ["yaruki_moeru_man.png", 5],
      ["face_smile_woman4.png", 4],
      ["face_smile_man1.png", 3],
      ["smartphone_gorogoro_woman_neet.png", 2],
      ["yaruki_moetsuki_man.png", 1]
    ] %>

    <% images_with_scores.each do |img, val| %>
      <label>
        <%= f.radio_button :score, val, style: "display:none;" %>
        <%= image_tag img, class: "option-image" %>
      </label>
    <% end %>
  </div>

  <%= f.submit "送信", class: "mood-submit" %>
<% end %>

  <p>画像は「いらすとや」より引用しています（https://www.irasutoya.com/）</p>
