<%= render 'shared/header' %>

<h2><%= l(@date, format: :long) %> のタスクを編集</h2>

<% if @tasks.any? %>
  <%= form_with url: bulk_update_tasks_path, method: :patch, local: true do %>
    <%= hidden_field_tag :date, @date %>
    <ul>
      <% @tasks.each do |t| %>
        <li style="margin-bottom: 8px;">
          <%= fields_for 'tasks[]', t, index: nil do |f| %>
            <%= f.hidden_field :id %>
            <%= f.text_field :content, size: 40 %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= submit_tag '保存' %>
  <% end %>
<% else %>
  <p>この日にはタスクがありません。</p>
<% end %>

<div style="margin-top: 16px;">
  <%= link_to 'この日の表示に戻る', task_path(@date) %> |
  <%= link_to 'カレンダーに戻る', root_path %>
</div>
