<%= render 'shared/header' %>

<% if flash[:alert].present? %>
  <p style="color:#c00;"><%= flash[:alert] %></p>
<% end %>

<%= form_with url: tasks_path, method: :post, local: true do %>
  <div id="tasks-container">
    <div class="task-fields">
      <label>タスク</label>
      <%= text_field_tag 'tasks[][content]', nil, placeholder: 'やること', required: true %>
    </div>
  </div>

  <%= submit_tag '送信' %>
<% end %>
